{% extends 'VictoireWidgetImageBundle::show.html.twig' %}

{% trans_default_domain "victoire" %}

{% block content %}
    {% if image.url is defined and opacity is defined %}
        {% set background = "background-image: " ~ opacity ~ ", url(" ~ image.url ~ ");" %}
    {% elseif image.url is defined %}
        {% set background = "background-image: url(" ~ image.url ~ ");" %}
    {% else %}
        {% set background = "background-color: #cccccc;" %}
    {% endif %}

    <div class="cover" style="{{ background }}{% if height %}height: {{ height }};{% endif %}">
        {{ cms_slot_widgets('cover' ~ widget.id) }}
    </div>
{% endblock content %}
