{% extends 'VictoireWidgetImageBundle::show.html.twig' %}

{% trans_default_domain "victoire" %}

{% block content %}

    {% if opacity is not null %}
        {% set opacity = opacity ~ "," %}
    {% endif %}
    {% if image.url is defined %}
        {% set background = "background-image: " ~ opacity ~ " url(" ~ image.url ~ ");" %}
    {% elseif image.path is defined %}
        {% set background = "background-image: " ~ opacity ~ " url(" ~ asset(image.path) ~ ");" %}
    {% else %}
        {% set background = "background-color: #cccccc;" %}
    {% endif %}

    <div class="cover" style="{{ background }} background-position: center;background-size: cover;min-height: inherit;">
        {{ cms_slot_widgets('cover' ~ widget.id) }}
    </div>
{% endblock content %}
