{% extends 'VictoireWidgetImageBundle::show.html.twig' %}

{% trans_default_domain "victoire" %}

{% block content %}
    {% if image.url is defined %}
        {% set style = "background-image: " ~ (opacity ? opacity) ~ " url(" ~ image.url ~ ")" %}
    {% else %}
        {% set style = "background-color: #cccccc" %}
    {% endif %}

    <div class="cover" style="{{ style }}">
        {{ cms_slot_widgets('cover' ~ widget.id) }}
    </div>
{% endblock content %}
